
#background {
  background-size: cover;
  height: 100%;
  
}


body {
	text-align: center;
}

h1 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h4 {
	font-family: 'Courgette';
}

h3 {
	font-family: 'Permanent Marker';
}

.jumbotron{
  opacity: 0.98;
  padding-top: 10px;
  margin-top: 20px;
  
}

textarea {
  resize: none;
    border: dashed;
    text-align: center;
}